name: Tests
on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:
jobs:
    ruff:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: astral-sh/setup-uv@v6
              with:
                  enable-cache: true
            - uses: actions/setup-python@v5
              with:
                  python-version-file: "pyproject.toml"
            - run: uv sync --all-extras --dev
            - run: uv run ruff check src tests

    mypy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: astral-sh/setup-uv@v6
              with:
                  enable-cache: true
            - uses: actions/setup-python@v5
              with:
                  python-version-file: "pyproject.toml"
            - run: uv sync --all-extras --dev
            - run: uv run mypy src tests

    ruff-format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: astral-sh/setup-uv@v6
              with:
                  enable-cache: true
            - uses: actions/setup-python@v5
              with:
                  python-version-file: "pyproject.toml"
            - run: uv sync --all-extras --dev
            - run: uv run ruff format --check src tests

    pytest:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: astral-sh/setup-uv@v6
              with:
                  enable-cache: true
            - uses: actions/setup-python@v5
              with:
                  python-version-file: "pyproject.toml"
            - run: uv sync --all-extras --dev
            - run: uv run pytest

    doctest:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: astral-sh/setup-uv@v6
              with:
                  enable-cache: true
            - uses: actions/setup-python@v5
              with:
                  python-version-file: "pyproject.toml"
            - run: uv sync --all-extras --dev
            - run: uv run make -C docs doctest
